* {
    box-sizing: border-box !important;
}

a {
    text-decoration: none !important;
}

#body-login {
    background-color: rgba(0, 0, 0, .1);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1;
    align-items: center;
    justify-content: center;
}

#body-admin {
    background-color: rgba(0, 0, 0, .1);
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 3.5fr;
    align-items: center;

}



.sidebar {
    min-height: 95vh;
    display: grid;
}

.main-content {
    background-color: #fff;
    margin: auto;
    min-height: 95vh;
}

/* DASHBOARD */
.dashboard-cards {
    font-size-adjust: 150% !important;
    display: grid;
    grid-template-columns: repeat(auto-fit, 290px);
    justify-content: flex-start;
    grid-gap: 10pt;
}

.form-auth {
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .1);
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-content: center;
    justify-content: center;
    border-radius: 10pt;
    padding: 20pt 10pt;
    margin: auto;
}

.form-auth img {
    width: 80pt;
    margin: 10pt auto;
    border: solid 1px rgba(0, 0, 0, .2);
    border-radius: 80pt;
}

.form-auth input {
    padding: 5pt;
    margin: 2pt;
}